.token-wrapper {
  position: relative;
}

/* ===== TOKEN POPUP ===== */

.token-popup {
  position: absolute;
  top: 50px;
  right: 0;

  width: min(92vw, 400px);
  max-height: calc(100vh - 70px);

  background: white;
  border-radius: 14px;
  padding: 12px;

  overflow: hidden;
  z-index: 5000;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* TABOK */
.popup-tabs {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
}

.popup-tabs button {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  background: #eee;
}

.popup-tabs button.active {
  background: black;
  color: white;
}

/* BuyToken levágása */
.buytoken-mask {
  width: 380px;        /* +20px */
  height: 520px;
  overflow-y: auto;    /* ← fontos */
  overflow-x: hidden;
  background: white;
  border-radius: 12px;
}


/* BuyToken root (100vh, háttér) semlegesítése */
.buytoken-mask > div {
  height: auto !important;
  min-height: auto !important;
  background: transparent !important;
  padding-top: 0 !important;
}

/* belső kártya középre */
.buytoken-mask > div > div {
  margin: 0 auto;
}
.withdraw-popup{
  background: white;
  border-radius: 14px;
  padding: 12px;

  overflow: hidden;
  z-index: 5000;

}
.primary-btn{
  background-color:rgb(155, 182, 230);
}
.withdraw-popup form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Mobil: fullscreen modal */
@media (max-width: 600px) {
  .token-wrapper {
   font-size:2.5vw
  }
  .navbar-right{
    font-size:2.5vw
  }
  .token-popup {
    position: fixed;
    right: 0;
  
    max-height: none;

    border-radius: 20px;
   
  }

  /* BuyToken levágása */
.buytoken-mask {
  width: auto;        /* +20px */
  height: auto;
  overflow-y: auto;    /* ← fontos */
  overflow-x: hidden;
  background: white;
  border-radius: 12px;

}


}
